/** @format */

/*
 * - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
 * - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
 * - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
 * - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
 * - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
 * - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
 */

:root {
  --bg-elements-color: hsl(209, 23%, 22%);
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
}

.light-mode {
  --bg-elements-color: hsl(0, 0%, 100%);
  --bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.bg-elements {
  background-color: var(--bg-elements-color);
}

.main-text-color {
  color: var(--text-color);
}
.main-text-color:hover {
  color: var(--text-color);
}

.main-content,
.main-nav {
  width: 90%;
  margin: 0 auto;
}

form input {
  background-color: var(--bg-elements-color);
  border: none;
  color: var(--text-color);
  outline: transparent;
}

form input::placeholder {
  color: var(--text-color);
}

ul {
  list-style: none;
  text-align: left;
}
.select-container {
  position: relative;
}

.select-container ul:nth-of-type(1) {
  background-color: var(--bg-elements-color);
  height: 50px;
  cursor: pointer;
}

.options {
  position: absolute;
  top: 75%;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.2s ease-in-out;
  background-color: var(--bg-elements-color);
  cursor: pointer;
}

.options.active {
  transform: scaleY(1);
}

.options li:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.countries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6em;
}
.countries img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .countries {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.back-btn {
  width: 35%;
  max-width: 120px;
}

.detail-img {
  width: 100%;
  max-width: 600px;
}
